//@import "./styles/global/svg";

$m: .8rem;
$n: .5rem;
$light: #d9d9d9;
$grey: #666;
$border: 1px solid $grey;
$dark: #222;

*{
  box-sizing: border-box;
}

body{
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: sans-serif;
	color: $dark;
}

a{
	color: $dark;

	text-decoration: underline;

	&:hover{
		text-decoration: none;
	}
}

h1, h2, h3, h4, h5, h6{
	font-size: 13px;
	margin: 0 0 $m;
	padding: 0;
	font-weight: normal;
}

label{
	font-size: 13px;
	margin: 0 0 $n;
	padding: 0;
	font-weight: bold;
	display: block;
	&:after{
		content: ':';
	}
}

hr{
	border: none;
	border-top: $border;
    display: block;
    margin: $n $m;
}
input, button, textarea, select{
	font-family: sans-serif;
	padding: $m;
	font-size: 16px;
	border: $border;
}
textarea{
	overflow: auto;
	resize: none;
	font-size: 14px;
	line-height: 1.3;
	border: none;
	box-shadow: 0 1px 2px rgba(0,0,0,.3);
}
textarea, pre {
    tab-size : 4;
}
button{
	padding: $m $m*2;
	border-radius: $m/2;
	background: white;
	cursor: pointer;

	&.start{
		background: #f1c88b;
	}
	&.pause{
		background: orange;
	}
	&.load{
		background: #a0b7e2;
	}
	&.save{
		background: #c0d696;
	}
	&.process{
		background: #f1c88b;
	}

	&.float-right{
		margin-left: $m;
	}
}

/**/

header, .window, .importer, .editor, .exporter{
	position: absolute;
	display: flex;
	flex-direction: column;
}

header{
	height: 60px;
	width: 100%;
	background: $light;
	border-bottom: $border;
}

.window{
	top: 60px;
	bottom: 0;
	left: 0;
	right: 0;
	background: $light;
}

/* LAYOUT */

$col1: 30%;
$col2: 40%;
$col3: 30%;

.importer{
	width: $col1;
	height: 100%;
}
.editor{
	left: $col1;
	width: $col2;
	height: 100%;
	border-left: $border;
	border-right: $border;
}
.exporter{
	left: $col1 + $col2;
	width: $col3;
	height: 100%;
}

.t-dark{
	background: #666;
	color: #efefef;

	.status{
	}
}

/**/

.file{
	.form{
		display: flex;
		align-items: center;

		input{
			width: 100%;
			border-right: none;
			border-radius: $m/2 0 0 $m/2;
		}
		button{
			border-radius: 0 $m/2 $m/2 0;
		}
	}
}

.monitor{
	background: white;
	overflow: hidden;
	overflow-y: auto;
	border-top: $border;
}
.status{
	padding: $m 0;
	margin: 0 $m;
	border-top: $border;
	font-size: 13px;
}

.controls{
	.actions{
		margin-top: 0;
	}
}

/**/

.msg{
	font-size: 13px;
	padding: $n/2 $n/2 $n;
	word-break: break-word;

	&.ok{
		color: #73b904;
		font-weight: bold;
	}
	&.error{
		color: red;
	}
	&.warn{
		color: #d29422;
	}
	&.hr{
		padding: 0;
		border-bottom: 1px solid #d9d9d9;
		margin: $n 0;
	}
}

.canvas{
	position: relative;

	textarea{
		position: absolute;
		width: 100%;
		height: 100%;
	}
}
.box{
	display: flex;
	flex-direction: column;
	padding: $m;
}
.actions{
	margin: $m 0 0;
}
.fill{
	flex-grow: 1;
}
.float-right{
	float: right;
}